In [1]:
import pandas as pd, statistics, numpy as np

variables:
- FC{#} field y GC{#} general cursos
- comp: codigo de curso complementario
- ccspec: codigo de especificacion de la carrera
- period: prepandemia(1) postpandemia(2)
- dispproved: cursos desaprobados
- pased: cursos aprobados
- 
- total: numero de cursos
- rate_approv: cursos aprobados entre el total de cursos
- 
- w_cre_{fc, gc}: suma de calificaciones de cursos de campo * cr√©ditos
- t_cre_{fc, gc}: suma de creditos de curso de campo
- 
- ave_{gc, fc}: promedio de calificaciones por tipo de curso
- ave_total: promedio total
- periodo: 2019-2, 2020-1
<!-- id: prediodo -->
<!-- period (1) id (1) : 2019-2
period (2) id (1) : 2020-1 -->

<!-- singup: perdio (prepandemia): 0, pandemia: 1 -->

In [2]:
import warnings
warnings.filterwarnings('ignore')

sex = pd.read_csv("../base_datos/sexo_dni.csv")
panel = pd.read_csv('../outcomes/base_completa_panel.csv')
base_educacion = pd.merge(panel, sex, how="left", on="dni")


base = base_educacion[~base_educacion['id'].isna()]
base = base.iloc[: :,1:269] # seleccionando columnas 
base['n_c_desaprovados'] = ((base > 0) & (base < 12.5)).sum(axis=1) # Numero de cursos desaprobados
base['desc_cursos'] = (base.iloc[: :,3:266] == 0).sum(axis=1) # numero de cursos (desercion)


base_educacion = pd.merge(base_educacion, base, how = 'left', on = ['dni','period'])

iid = ["dni", "period", "sexo" , "section", "carrera", "shift", "ave_total", "ave_gc", "ave_fc", "rate_approv", 'n_c_desaprovados', 'desc_cursos']
rel_data = base_educacion[iid]

name_col = {
    'period':'Periodo', 'section':'Nivel', 'carrera':'Carrera','shift':'Turno',
    'ave_total':'Nota promedio general', 'ave_gc':'Nota promedio de cursos generales',
    'ave_fc':'Nota promedio de cursos de carrera','rate_approv':'Ratio de aprobacion por alumno',
    "n_c_desaprovados": "Numero de cursos desaprobados", "desc_cursos": "Decercion de cursos"
    }

# Simple statistics

# Entre Periodos

## 2019 - 2

In [4]:
t_time = 1
rel_data[rel_data.period == 1].iloc[:, 6:20].describe().rename(name_col, axis = 1)

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1056.000000,1047.000000,1046.000000,1056.000000,1059.000000,1059.000000
mean,13.891109,14.217165,13.787224,0.916902,1.193579,0.415486
std,3.420694,3.400958,3.603548,0.214535,0.590822,1.460632
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.825121,14.000000,13.750000,1.000000,1.000000,0.000000
50%,14.763414,15.000000,14.666667,1.000000,1.000000,0.000000
75%,15.562777,15.800000,15.562500,1.000000,1.000000,0.000000
max,18.400000,18.400000,18.882353,1.000000,7.000000,11.000000

#### Sexo

In [5]:
def by_perdiod_var(var, cond, period = t_time, data = rel_data):
    print(f"{var}: {cond}\n")
    tbl = data[(data[var] == cond) & (data[var] == cond)].iloc[:, 6:20].describe().rename(name_col, axis = 1)
    return tbl

In [6]:
by_perdiod_var("sexo", 1)

sexo: 1

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1003.000000,991.000000,996.000000,1003.000000,1005.000000,1005.000000
mean,13.780893,14.119262,13.644000,0.888980,1.175124,0.746269
std,4.252648,4.314176,4.351178,0.268128,0.581229,2.198401
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.033028,14.450000,13.812500,1.000000,1.000000,0.000000
50%,15.155556,15.400000,15.000000,1.000000,1.000000,0.000000
75%,15.883721,16.250000,15.839286,1.000000,1.000000,0.000000
max,18.400000,18.400000,18.666667,1.000000,7.000000,11.000000

In [7]:
# masculino
by_perdiod_var("sexo", 0)

sexo: 0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1287.000000,1282.000000,1279.000000,1287.000000,1291.000000,1291.000000
mean,12.822279,12.914319,12.792445,0.847099,1.075910,1.039504
std,4.880459,4.948906,5.024960,0.309920,0.332434,2.275414
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.067424,13.666667,13.322917,0.875000,1.000000,0.000000
50%,14.704545,14.750000,14.625000,1.000000,1.000000,0.000000
75%,15.555556,15.666667,15.611111,1.000000,1.000000,0.000000
max,18.363636,18.000000,19.000000,1.000000,4.000000,10.000000

#### Carreras

In [8]:
## Carreras
carr = list(set(rel_data.carrera))
by_perdiod_var("carrera", carr[1])

carrera: Electrotecnia industrial

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,317.000000,316.000000,315.000000,317.000000,317.000000,317.000000
mean,11.857433,12.230666,11.720221,0.802471,1.141956,1.312303
std,5.217201,5.267032,5.374950,0.340875,0.423263,2.485453
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,11.534884,10.625000,11.740196,0.750000,1.000000,0.000000
50%,14.234043,14.600000,14.062500,1.000000,1.000000,0.000000
75%,15.000000,15.511364,15.000000,1.000000,1.000000,1.000000
max,17.021739,17.666667,17.388889,1.000000,4.000000,10.000000

In [9]:
by_perdiod_var("carrera", carr[2])

carrera: Secretariado ejecutivo

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,286.000000,283.000000,283.000000,286.000000,286.000000,286.00000
mean,13.233391,13.274244,13.142830,0.833379,1.381119,1.13986
std,4.897044,5.036610,5.055405,0.305262,0.881502,2.72120
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,12.843532,14.000000,12.391228,0.888889,1.000000,0.00000
50%,15.159173,15.250000,15.062500,1.000000,1.000000,0.00000
75%,16.092495,16.000000,16.216374,1.000000,1.000000,0.00000
max,17.977778,18.400000,18.333333,1.000000,7.000000,10.00000

In [10]:
by_perdiod_var("carrera", carr[3])

carrera: Computacion e informatica

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,388.000000,385.000000,382.000000,388.000000,388.000000,388.000000
mean,13.483588,13.491176,13.515225,0.879681,1.036082,0.904639
std,4.700414,4.647285,4.821268,0.289271,0.224442,2.333594
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.611111,13.909091,13.444444,1.000000,1.000000,0.000000
50%,14.955556,15.000000,15.000000,1.000000,1.000000,0.000000
75%,16.136364,16.000000,16.232026,1.000000,1.000000,0.000000
max,18.363636,18.000000,19.000000,1.000000,3.000000,11.000000

In [11]:
by_perdiod_var("carrera", carr[4])

carrera: Mecanica de produccion

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,111.000000,109.000000,110.000000,111.000000,111.000000,111.00000
mean,12.003085,12.015819,11.967183,0.790287,1.027027,1.54955
std,5.516281,5.695404,5.697625,0.345839,0.211465,2.67221
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,10.728744,10.500000,9.892157,0.666667,1.000000,0.00000
50%,14.577778,14.727273,14.598214,1.000000,1.000000,0.00000
75%,15.526036,15.700000,15.671875,1.000000,1.000000,2.00000
max,17.318182,17.200000,17.562500,1.000000,3.000000,10.00000

In [12]:
by_perdiod_var("carrera", carr[5])

carrera: Mecanica automotriz

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,283.000000,283.000000,281.000000,283.000000,283.000000,283.000000
mean,13.026878,12.673190,13.123903,0.842542,1.056537,1.021201
std,4.940340,5.270216,5.030377,0.322555,0.321209,2.218453
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.633102,13.666667,13.625000,0.857143,1.000000,0.000000
50%,14.954545,14.666667,15.000000,1.000000,1.000000,0.000000
75%,15.651163,15.600000,15.812500,1.000000,1.000000,0.000000
max,17.744681,17.333333,18.437500,1.000000,4.000000,8.000000

In [13]:
by_perdiod_var("carrera", carr[6])

carrera: Administracion de empresas

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,452.000000,446.000000,451.000000,452.000000,452.000000,452.000000
mean,13.981061,14.531479,13.822252,0.912914,1.148230,0.464602
std,3.655228,3.608726,3.727646,0.229878,0.473391,1.583194
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.155556,14.600000,14.000000,1.000000,1.000000,0.000000
50%,15.022222,15.600000,14.875000,1.000000,1.000000,0.000000
75%,15.639835,16.200000,15.555556,1.000000,1.000000,0.000000
max,18.243902,18.000000,18.312500,1.000000,4.000000,9.000000

In [14]:
by_perdiod_var("carrera", carr[7])

carrera: Contabilidad

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,453.000000,451.000000,453.000000,453.000000,453.000000,453.000000
mean,13.710665,14.091941,13.551462,0.902911,1.037528,0.724062
std,4.172229,4.140119,4.305056,0.259758,0.222426,2.039710
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.200000,14.333333,14.000000,1.000000,1.000000,0.000000
50%,15.066667,15.200000,15.000000,1.000000,1.000000,0.000000
75%,15.688889,16.000000,15.666667,1.000000,1.000000,0.000000
max,18.400000,18.000000,18.666667,1.000000,3.000000,9.000000

#### Shift

In [15]:
sec_tion = list(set(rel_data['shift']))
sec_tion
by_perdiod_var("shift", sec_tion[1])
# rel_data[(rel_data.period == 1)]#.iloc[:, 6:20].describe().rename(name_col, axis = 1)

shift: diurno

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1202.000000,1197.000000,1194.000000,1202.000000,1202.000000,1202.000000
mean,13.244993,13.431899,13.160681,0.861204,1.132280,0.955075
std,4.752264,4.792450,4.873444,0.299482,0.491364,2.331691
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.409759,14.000000,13.450980,0.891667,1.000000,0.000000
50%,15.000000,15.100000,14.972222,1.000000,1.000000,0.000000
75%,15.822222,16.000000,15.830882,1.000000,1.000000,0.000000
max,18.400000,18.000000,18.882353,1.000000,5.000000,10.000000

In [16]:

by_perdiod_var("shift", sec_tion[2])

shift: nocturno

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1088.000000,1076.000000,1081.000000,1088.000000,1088.000000,1088.000000
mean,13.238995,13.448293,13.170313,0.870125,1.102941,0.867647
std,4.513788,4.639763,4.632771,0.285792,0.420792,2.153481
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.733333,14.000000,13.666667,0.900000,1.000000,0.000000
50%,14.777778,15.000000,14.750000,1.000000,1.000000,0.000000
75%,15.609931,16.000000,15.571429,1.000000,1.000000,0.000000
max,18.243902,18.400000,19.000000,1.000000,7.000000,11.000000

#### Section

In [17]:
sec_tion = list(np.unique(rel_data['section']))
print(len(sec_tion))
by_perdiod_var("section", sec_tion[0])

7
section: 1.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,484.000000,484.000000,482.000000,484.000000,484.000000,484.000000
mean,13.562304,13.731472,13.489654,0.872690,1.022727,1.066116
std,4.775459,4.737571,4.896552,0.292791,0.149187,2.488019
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.227273,14.250000,14.187500,1.000000,1.000000,0.000000
50%,15.375000,15.500000,15.375000,1.000000,1.000000,0.000000
75%,16.090909,16.250000,16.109375,1.000000,1.000000,0.000000
max,17.750000,18.000000,17.875000,1.000000,2.000000,9.000000

In [18]:
by_perdiod_var("section", sec_tion[1])

section: 2.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,380.000000,379.000000,378.000000,380.000000,380.000000,380.000000
mean,13.963870,14.310950,13.832331,0.915976,1.226316,0.555263
std,3.486920,3.359188,3.695327,0.217987,0.666849,1.890009
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.971447,14.400000,13.750000,1.000000,1.000000,0.000000
50%,14.844444,15.000000,14.750000,1.000000,1.000000,0.000000
75%,15.622222,15.800000,15.682292,1.000000,1.000000,0.000000
max,17.955556,18.400000,18.437500,1.000000,7.000000,11.000000

In [19]:
by_perdiod_var("section", sec_tion[2])

section: 3.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,366.000000,365.000000,365.000000,366.000000,366.000000,366.000000
mean,12.145531,12.300356,12.059710,0.799094,1.019126,1.467213
std,5.615129,6.033028,5.639941,0.363915,0.137154,2.738416
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,11.551163,12.647059,13.000000,0.833333,1.000000,0.000000
50%,14.727132,15.272727,14.500000,1.000000,1.000000,0.000000
75%,15.465116,16.000000,15.428571,1.000000,1.000000,1.000000
max,18.000000,18.000000,18.187500,1.000000,2.000000,9.000000

In [20]:
by_perdiod_var("section", sec_tion[3])

section: 4.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,392.000000,385.000000,391.000000,392.000000,392.00000,392.000000
mean,13.862122,14.210952,13.787878,0.915073,1.19898,0.275510
std,3.333172,3.557695,3.426282,0.211777,0.59512,0.916243
min,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000
25%,13.715447,14.000000,13.666667,1.000000,1.00000,0.000000
50%,14.666667,15.000000,14.588235,1.000000,1.00000,0.000000
75%,15.494057,16.000000,15.472222,1.000000,1.00000,0.000000
max,18.400000,18.333333,18.666667,1.000000,5.00000,6.000000

In [21]:
by_perdiod_var("section", sec_tion[4])

section: 5.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,388.000000,380.000000,384.000000,388.000000,388.000000,388.000000
mean,12.126896,12.032401,12.124264,0.780318,1.126289,1.543814
std,5.794891,5.750348,5.941868,0.363277,0.462584,2.810214
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,11.583721,9.333333,11.438596,0.714286,1.000000,0.000000
50%,14.733333,15.000000,14.777778,1.000000,1.000000,0.000000
75%,15.733333,15.666667,15.791667,1.000000,1.000000,1.000000
max,18.088889,17.333333,19.000000,1.000000,4.000000,10.000000

In [22]:
by_perdiod_var("section", sec_tion[5])

section: 6.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,280.000000,280.000000,275.000000,280.000000,280.000000,280.000000
mean,13.820110,14.090375,13.715474,0.919534,1.142857,0.432143
std,3.483062,3.257811,3.742785,0.215692,0.464842,1.415114
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.868083,14.000000,13.788889,1.000000,1.000000,0.000000
50%,14.795455,14.900000,14.720000,1.000000,1.000000,0.000000
75%,15.545455,15.600000,15.555556,1.000000,1.000000,0.000000
max,18.363636,17.600000,18.882353,1.000000,4.000000,8.000000

## 2020 - 1

In [23]:
t_time = 2
rel_data[rel_data.period == 1].iloc[:, 6:20].describe().rename(name_col, axis = 1)

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1056.000000,1047.000000,1046.000000,1056.000000,1059.000000,1059.000000
mean,13.891109,14.217165,13.787224,0.916902,1.193579,0.415486
std,3.420694,3.400958,3.603548,0.214535,0.590822,1.460632
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.825121,14.000000,13.750000,1.000000,1.000000,0.000000
50%,14.763414,15.000000,14.666667,1.000000,1.000000,0.000000
75%,15.562777,15.800000,15.562500,1.000000,1.000000,0.000000
max,18.400000,18.400000,18.882353,1.000000,7.000000,11.000000

#### Sexo

In [24]:
def by_perdiod_var(var, cond, period = t_time, data = rel_data):
    print(f"{var}: {cond}\n")
    tbl = data[(data[var] == cond) & (data[var] == cond)].iloc[:, 6:20].describe().rename(name_col, axis = 1)
    return tbl

In [25]:
by_perdiod_var("sexo", 1)

sexo: 1

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1003.000000,991.000000,996.000000,1003.000000,1005.000000,1005.000000
mean,13.780893,14.119262,13.644000,0.888980,1.175124,0.746269
std,4.252648,4.314176,4.351178,0.268128,0.581229,2.198401
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.033028,14.450000,13.812500,1.000000,1.000000,0.000000
50%,15.155556,15.400000,15.000000,1.000000,1.000000,0.000000
75%,15.883721,16.250000,15.839286,1.000000,1.000000,0.000000
max,18.400000,18.400000,18.666667,1.000000,7.000000,11.000000

In [26]:
# masculino
by_perdiod_var("sexo", 0)

sexo: 0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1287.000000,1282.000000,1279.000000,1287.000000,1291.000000,1291.000000
mean,12.822279,12.914319,12.792445,0.847099,1.075910,1.039504
std,4.880459,4.948906,5.024960,0.309920,0.332434,2.275414
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.067424,13.666667,13.322917,0.875000,1.000000,0.000000
50%,14.704545,14.750000,14.625000,1.000000,1.000000,0.000000
75%,15.555556,15.666667,15.611111,1.000000,1.000000,0.000000
max,18.363636,18.000000,19.000000,1.000000,4.000000,10.000000

#### Carreras

In [27]:
## Carreras
carr = list(set(rel_data.carrera))
by_perdiod_var("carrera", carr[1])

carrera: Electrotecnia industrial

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,317.000000,316.000000,315.000000,317.000000,317.000000,317.000000
mean,11.857433,12.230666,11.720221,0.802471,1.141956,1.312303
std,5.217201,5.267032,5.374950,0.340875,0.423263,2.485453
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,11.534884,10.625000,11.740196,0.750000,1.000000,0.000000
50%,14.234043,14.600000,14.062500,1.000000,1.000000,0.000000
75%,15.000000,15.511364,15.000000,1.000000,1.000000,1.000000
max,17.021739,17.666667,17.388889,1.000000,4.000000,10.000000

In [28]:
by_perdiod_var("carrera", carr[2])

carrera: Secretariado ejecutivo

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,286.000000,283.000000,283.000000,286.000000,286.000000,286.00000
mean,13.233391,13.274244,13.142830,0.833379,1.381119,1.13986
std,4.897044,5.036610,5.055405,0.305262,0.881502,2.72120
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,12.843532,14.000000,12.391228,0.888889,1.000000,0.00000
50%,15.159173,15.250000,15.062500,1.000000,1.000000,0.00000
75%,16.092495,16.000000,16.216374,1.000000,1.000000,0.00000
max,17.977778,18.400000,18.333333,1.000000,7.000000,10.00000

In [29]:
by_perdiod_var("carrera", carr[3])

carrera: Computacion e informatica

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,388.000000,385.000000,382.000000,388.000000,388.000000,388.000000
mean,13.483588,13.491176,13.515225,0.879681,1.036082,0.904639
std,4.700414,4.647285,4.821268,0.289271,0.224442,2.333594
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.611111,13.909091,13.444444,1.000000,1.000000,0.000000
50%,14.955556,15.000000,15.000000,1.000000,1.000000,0.000000
75%,16.136364,16.000000,16.232026,1.000000,1.000000,0.000000
max,18.363636,18.000000,19.000000,1.000000,3.000000,11.000000

In [30]:
by_perdiod_var("carrera", carr[4])

carrera: Mecanica de produccion

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,111.000000,109.000000,110.000000,111.000000,111.000000,111.00000
mean,12.003085,12.015819,11.967183,0.790287,1.027027,1.54955
std,5.516281,5.695404,5.697625,0.345839,0.211465,2.67221
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,10.728744,10.500000,9.892157,0.666667,1.000000,0.00000
50%,14.577778,14.727273,14.598214,1.000000,1.000000,0.00000
75%,15.526036,15.700000,15.671875,1.000000,1.000000,2.00000
max,17.318182,17.200000,17.562500,1.000000,3.000000,10.00000

In [31]:
by_perdiod_var("carrera", carr[5])

carrera: Mecanica automotriz

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,283.000000,283.000000,281.000000,283.000000,283.000000,283.000000
mean,13.026878,12.673190,13.123903,0.842542,1.056537,1.021201
std,4.940340,5.270216,5.030377,0.322555,0.321209,2.218453
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.633102,13.666667,13.625000,0.857143,1.000000,0.000000
50%,14.954545,14.666667,15.000000,1.000000,1.000000,0.000000
75%,15.651163,15.600000,15.812500,1.000000,1.000000,0.000000
max,17.744681,17.333333,18.437500,1.000000,4.000000,8.000000

In [32]:
by_perdiod_var("carrera", carr[6])

carrera: Administracion de empresas

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,452.000000,446.000000,451.000000,452.000000,452.000000,452.000000
mean,13.981061,14.531479,13.822252,0.912914,1.148230,0.464602
std,3.655228,3.608726,3.727646,0.229878,0.473391,1.583194
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.155556,14.600000,14.000000,1.000000,1.000000,0.000000
50%,15.022222,15.600000,14.875000,1.000000,1.000000,0.000000
75%,15.639835,16.200000,15.555556,1.000000,1.000000,0.000000
max,18.243902,18.000000,18.312500,1.000000,4.000000,9.000000

In [33]:
by_perdiod_var("carrera", carr[7])

carrera: Contabilidad

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,453.000000,451.000000,453.000000,453.000000,453.000000,453.000000
mean,13.710665,14.091941,13.551462,0.902911,1.037528,0.724062
std,4.172229,4.140119,4.305056,0.259758,0.222426,2.039710
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.200000,14.333333,14.000000,1.000000,1.000000,0.000000
50%,15.066667,15.200000,15.000000,1.000000,1.000000,0.000000
75%,15.688889,16.000000,15.666667,1.000000,1.000000,0.000000
max,18.400000,18.000000,18.666667,1.000000,3.000000,9.000000

#### Shift

In [34]:
sec_tion = list(set(rel_data['shift']))
sec_tion
by_perdiod_var("shift", sec_tion[1])
# rel_data[(rel_data.period == 1)]#.iloc[:, 6:20].describe().rename(name_col, axis = 1)

shift: diurno

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1202.000000,1197.000000,1194.000000,1202.000000,1202.000000,1202.000000
mean,13.244993,13.431899,13.160681,0.861204,1.132280,0.955075
std,4.752264,4.792450,4.873444,0.299482,0.491364,2.331691
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.409759,14.000000,13.450980,0.891667,1.000000,0.000000
50%,15.000000,15.100000,14.972222,1.000000,1.000000,0.000000
75%,15.822222,16.000000,15.830882,1.000000,1.000000,0.000000
max,18.400000,18.000000,18.882353,1.000000,5.000000,10.000000

In [35]:

by_perdiod_var("shift", sec_tion[2])

shift: nocturno

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,1088.000000,1076.000000,1081.000000,1088.000000,1088.000000,1088.000000
mean,13.238995,13.448293,13.170313,0.870125,1.102941,0.867647
std,4.513788,4.639763,4.632771,0.285792,0.420792,2.153481
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.733333,14.000000,13.666667,0.900000,1.000000,0.000000
50%,14.777778,15.000000,14.750000,1.000000,1.000000,0.000000
75%,15.609931,16.000000,15.571429,1.000000,1.000000,0.000000
max,18.243902,18.400000,19.000000,1.000000,7.000000,11.000000

#### Section

In [36]:
sec_tion = list(np.unique(rel_data['section']))
print(len(sec_tion))
by_perdiod_var("section", sec_tion[0])

7
section: 1.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,484.000000,484.000000,482.000000,484.000000,484.000000,484.000000
mean,13.562304,13.731472,13.489654,0.872690,1.022727,1.066116
std,4.775459,4.737571,4.896552,0.292791,0.149187,2.488019
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,14.227273,14.250000,14.187500,1.000000,1.000000,0.000000
50%,15.375000,15.500000,15.375000,1.000000,1.000000,0.000000
75%,16.090909,16.250000,16.109375,1.000000,1.000000,0.000000
max,17.750000,18.000000,17.875000,1.000000,2.000000,9.000000

In [37]:
by_perdiod_var("section", sec_tion[1])

section: 2.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,380.000000,379.000000,378.000000,380.000000,380.000000,380.000000
mean,13.963870,14.310950,13.832331,0.915976,1.226316,0.555263
std,3.486920,3.359188,3.695327,0.217987,0.666849,1.890009
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.971447,14.400000,13.750000,1.000000,1.000000,0.000000
50%,14.844444,15.000000,14.750000,1.000000,1.000000,0.000000
75%,15.622222,15.800000,15.682292,1.000000,1.000000,0.000000
max,17.955556,18.400000,18.437500,1.000000,7.000000,11.000000

In [38]:
by_perdiod_var("section", sec_tion[2])

section: 3.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,366.000000,365.000000,365.000000,366.000000,366.000000,366.000000
mean,12.145531,12.300356,12.059710,0.799094,1.019126,1.467213
std,5.615129,6.033028,5.639941,0.363915,0.137154,2.738416
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,11.551163,12.647059,13.000000,0.833333,1.000000,0.000000
50%,14.727132,15.272727,14.500000,1.000000,1.000000,0.000000
75%,15.465116,16.000000,15.428571,1.000000,1.000000,1.000000
max,18.000000,18.000000,18.187500,1.000000,2.000000,9.000000

In [39]:
by_perdiod_var("section", sec_tion[3])

section: 4.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,392.000000,385.000000,391.000000,392.000000,392.00000,392.000000
mean,13.862122,14.210952,13.787878,0.915073,1.19898,0.275510
std,3.333172,3.557695,3.426282,0.211777,0.59512,0.916243
min,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000
25%,13.715447,14.000000,13.666667,1.000000,1.00000,0.000000
50%,14.666667,15.000000,14.588235,1.000000,1.00000,0.000000
75%,15.494057,16.000000,15.472222,1.000000,1.00000,0.000000
max,18.400000,18.333333,18.666667,1.000000,5.00000,6.000000

In [40]:
by_perdiod_var("section", sec_tion[4])

section: 5.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,388.000000,380.000000,384.000000,388.000000,388.000000,388.000000
mean,12.126896,12.032401,12.124264,0.780318,1.126289,1.543814
std,5.794891,5.750348,5.941868,0.363277,0.462584,2.810214
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,11.583721,9.333333,11.438596,0.714286,1.000000,0.000000
50%,14.733333,15.000000,14.777778,1.000000,1.000000,0.000000
75%,15.733333,15.666667,15.791667,1.000000,1.000000,1.000000
max,18.088889,17.333333,19.000000,1.000000,4.000000,10.000000

In [41]:
by_perdiod_var("section", sec_tion[5])

section: 6.0

,Nota promedio general,Nota promedio de cursos generales,Nota promedio de cursos de carrera,Ratio de aprobacion por alumno,Numero de cursos desaprobados,Decercion de cursos
count,280.000000,280.000000,275.000000,280.000000,280.000000,280.000000
mean,13.820110,14.090375,13.715474,0.919534,1.142857,0.432143
std,3.483062,3.257811,3.742785,0.215692,0.464842,1.415114
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,13.868083,14.000000,13.788889,1.000000,1.000000,0.000000
50%,14.795455,14.900000,14.720000,1.000000,1.000000,0.000000
75%,15.545455,15.600000,15.555556,1.000000,1.000000,0.000000
max,18.363636,17.600000,18.882353,1.000000,4.000000,8.000000

## Cruce

In [53]:
dic_fem = {1:"Female", 0: "Male"}
dic_per = {1: "2019 - 2", 2: "2020 - 1"}

rel_data_cat = rel_data.copy()

rel_data_cat["sexo"] = rel_data_cat["sexo"].map(dic_fem)
rel_data_cat["period"] = rel_data_cat["period"].map(dic_per)

In [54]:

rel_data_cat

,dni,period,sexo,section,carrera,shift,ave_total,ave_gc,ave_fc,rate_approv,n_c_desaprovados,desc_cursos
0,940893,2019 - 2,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,940893,2020 - 1,Female,1.0,Secretariado ejecutivo,nocturno,14.681818,14.500000,14.750000,1.000000,1.0,0.0
2,961093,2019 - 2,Female,4.0,Contabilidad,nocturno,13.981818,16.333333,13.521739,1.000000,1.0,0.0
3,961093,2020 - 1,Female,5.0,Contabilidad,nocturno,14.422222,14.333333,14.444444,1.000000,1.0,0.0
4,7469182,2019 - 2,Female,4.0,Administracion de empresas,nocturno,12.902439,13.000000,12.875000,0.833333,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3107,9286729,2020 - 1,Male,3.0,Computacion e informatica,nocturno,14.888889,16.363636,14.411765,1.000000,1.0,0.0
3108,9694083,2019 - 2,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
3109,9694083,2020 - 1,Male,3.0,Computacion e informatica,nocturno,15.933333,16.636364,15.705882,1.000000,1.0,0.0
3110,9713377,2019 - 2,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3111,9713377,2020 - 1,Male,1.0,Electrotecnia industrial,nocturno,14.068182,14.250000,14.000000,1.000000,1.0,0.0

In [55]:
def compare_two(column, main_row, row, values,  data, fun = np.mean):
    result = pd.pivot_table(
    data, values=values, index=[main_row, row], columns=column
    , aggfunc=fun, fill_value=0)
    
    return result
    # result

s = compare_two("sexo", "carrera", "period", ["ave_gc", "ave_fc", "ave_total"], rel_data_cat, [np.mean]).round(2)
# rel_data
s

                                      mean                                 \
                                    ave_fc        ave_gc        ave_total
sexo                                Female   Male Female   Male    Female
carrera                    period
Administracion de empresas 2019 - 2  13.95  13.92  14.58  14.29     14.07
                           2020 - 1  14.19  12.93  15.12  13.65     14.42
Computacion e informatica  2019 - 2  13.11  14.20  13.58  13.99     13.19
                           2020 - 1  13.00  13.26  13.38  13.07     13.22
Contabilidad               2019 - 2  14.46  13.69  15.19  14.57     14.65
                           2020 - 1  13.45  12.17  13.77  12.51     13.55
Electrotecnia industrial   2019 - 2  12.38  12.94  13.28  13.12     12.61
                           2020 - 1  14.92  10.49  15.67  11.26     15.10
Mecanica automotriz        2019 - 2  16.40  14.39  15.90  14.78     16.25
                           2020 - 1  15.17  11.98  15.46  10.78     15.25
Mecanica de produccion     2019 - 2  13.78  11.82  14.90  12.98     14.02
                           2020 - 1   0.00  12.25   0.00  11.44      0.00
Secretariado ejecutivo     2019 - 2  13.83   0.00  14.13   0.00     14.02
                           2020 - 1  12.52  15.62  12.48  15.50     12.51



sexo                                  Male
carrera                    period
Administracion de empresas 2019 - 2  14.03
                           2020 - 1  13.06
Computacion e informatica  2019 - 2  14.02
                           2020 - 1  13.22
Contabilidad               2019 - 2  13.97
                           2020 - 1  12.28
Electrotecnia industrial   2019 - 2  12.99
                           2020 - 1  10.69
Mecanica automotriz        2019 - 2  14.46
                           2020 - 1  11.72
Mecanica de produccion     2019 - 2  12.08
                           2020 - 1  12.11
Secretariado ejecutivo     2019 - 2   0.00
                           2020 - 1  15.59

In [61]:
compare_two("sexo", "carrera", "period", ["n_c_desaprovados"], rel_data_cat, [np.mean, len]).round(2)

                                                mean                    len  \
                                    n_c_desaprovados       n_c_desaprovados
sexo                                          Female  Male           Female
carrera                    period
Administracion de empresas 2019 - 2             1.14  1.14              136
                           2020 - 1             1.19  1.09              155
Computacion e informatica  2019 - 2             1.10  1.05               52
                           2020 - 1             1.02  1.01               58
Contabilidad               2019 - 2             1.05  1.13              138
                           2020 - 1             1.01  1.00              158
Electrotecnia industrial   2019 - 2             1.17  1.21                6
                           2020 - 1             1.00  1.09                8
Mecanica automotriz        2019 - 2             1.00  1.12                2
                           2020 - 1             1.00  1.00                3
Mecanica de produccion     2019 - 2             1.00  1.06                1
                           2020 - 1             1.00  1.00                1
Secretariado ejecutivo     2019 - 2             1.73  0.00              135
                           2020 - 1             1.07  1.00              150



sexo                                Male
carrera                    period
Administracion de empresas 2019 - 2   70
                           2020 - 1   91
Computacion e informatica  2019 - 2  129
                           2020 - 1  149
Contabilidad               2019 - 2   71
                           2020 - 1   86
Electrotecnia industrial   2019 - 2  140
                           2020 - 1  163
Mecanica automotriz        2019 - 2  128
                           2020 - 1  150
Mecanica de produccion     2019 - 2   48
                           2020 - 1   61
Secretariado ejecutivo     2019 - 2    0
                           2020 - 1    1

In [64]:
rel_data_cat

,dni,period,sexo,section,carrera,shift,ave_total,ave_gc,ave_fc,rate_approv,n_c_desaprovados,desc_cursos
0,940893,2019 - 2,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,940893,2020 - 1,Female,1.0,Secretariado ejecutivo,nocturno,14.681818,14.500000,14.750000,1.000000,1.0,0.0
2,961093,2019 - 2,Female,4.0,Contabilidad,nocturno,13.981818,16.333333,13.521739,1.000000,1.0,0.0
3,961093,2020 - 1,Female,5.0,Contabilidad,nocturno,14.422222,14.333333,14.444444,1.000000,1.0,0.0
4,7469182,2019 - 2,Female,4.0,Administracion de empresas,nocturno,12.902439,13.000000,12.875000,0.833333,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3107,9286729,2020 - 1,Male,3.0,Computacion e informatica,nocturno,14.888889,16.363636,14.411765,1.000000,1.0,0.0
3108,9694083,2019 - 2,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
3109,9694083,2020 - 1,Male,3.0,Computacion e informatica,nocturno,15.933333,16.636364,15.705882,1.000000,1.0,0.0
3110,9713377,2019 - 2,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3111,9713377,2020 - 1,Male,1.0,Electrotecnia industrial,nocturno,14.068182,14.250000,14.000000,1.000000,1.0,0.0

In [68]:
def percent(n):
    np.max(n) / len(n)

In [82]:
compare_two("sexo", "carrera", "period", ["desc_cursos"], rel_data_cat[rel_data_cat["ave_total"] == 0], [len]).round(2)
# rel_data_cat

                                            len
                                    desc_cursos
sexo                                     Female Male
carrera                    period
Administracion de empresas 2019 - 2           5    1
                           2020 - 1           4    7
Computacion e informatica  2019 - 2           3    3
                           2020 - 1           7   14
Contabilidad               2019 - 2           2    0
                           2020 - 1          15   10
Electrotecnia industrial   2019 - 2           0    5
                           2020 - 1           0   21
Mecanica automotriz        2020 - 1           0   22
Mecanica de produccion     2019 - 2           0    5
                           2020 - 1           1    4
Secretariado ejecutivo     2020 - 1          19    0